
        div{
            width: 200px;
            height: 200px;
            background-color: pink;
        }
        .divs{
            width: 100px;
            height: 100px;
            background-color: greenyellow;
        }
    